<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<div ng-app>
  <h1> To do list </h1>
  <div ng-controller="Controller">
    <span> {{remaining()}} of {{todo.length}} remaining </span>
    <br>
    <a href="" ng-click="archive()"> Archive </a>
    <br>
    <li ng-repeat="to-do">
      <input type="checkbox" ng-model="todo.done">
      <span class="done-{{todo.done}}">{{todo.text}}</span>
    </li>
    <form ng-submit="add()">
      <input type="text" ng-model="todoText">
<script>

function Controller($scope)
{
  $scope.todo =
  [
    {text:'Tell micheal he is a cuck', done:false},
    {text:'Show micheal this', done:false}
  ];
  $scope.add = function()
  {
    $scope.todo.push({text:$scope.todoText, done:false});
    $scope.todoText = '';
  };

  $scope.remaining = function()
  {
    var count = 0;
    angular.forEach($scope.todo, function(todo)
    {
      count += todo.done ? 0:1;
    });
    return count;
  };

  $scope.archive = function()
  {
    var oldTodo = $scope.todo;
    $scope.todo = [];
    angular.forEach(oldTodos, function(todo)
  {
    if (!todo.done) $scope.todo.push(todo);
  });
};
}
</script>
