
.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-color: #e4e6e5;
	background-color: rgba( 228, 230, 229, .85 );
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #5f5f5f;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}

.navbar.inv a {
	color: #e4e6e5;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.nav li {
	text-align: center;
	white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
	background-color: #4e4e4e;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.inv .active-menu {
	background-color: #e4e6e5;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #4e4e4e !important;
}

#special-active-menu-2 {
	background-color: #1abc9c !important;
}

#special-active-menu-3 {
	background-color: #e74c3c !important;
}

#special-active-menu-4 {
	background-color: #34495e !important;
}

#special-active-menu-5 {
	background-color: #e67e22 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
	#slide-4 .content-row h2 {
		min-height: 6em;
	}
}

@media (max-width: 767px) {

	.nav li {
		text-align: left;
		white-space: nowrap;
	}

	.navbar-responsive-collapse  {
		width: 100%;
	}

	.active-menu {
		display: none !important;
	}

	.navbar-toggle {
		margin-right: 10px;
	}

	.navbar {
		background-color: #e4e6e5 !important;
		padding: 0;
	}

	.navbar .nav a {
		color: #e4e6e5;
		font-size: 16px;
		padding-left: 0;
	}

	.icon {
		margin-right: 12px;
	}

	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}

	.nav li[data-slide="2"] {
		background-color: #1abc9c;
	}

	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}

	.nav li[data-slide="4"] {
		background-color: #34495e;
	}

	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}

	.navbar-brand {
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}

#slide-1 {
	background-image: url('../imgs/bg1.jpg');
	color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-1 h1 {
	padding-top: 130px;
}

@media (max-width: 991px) {
	#slide-1 {
		/* background-position: -70% 0, 170% 0; */
	}
}

@media (max-width: 767px) {
	#slide-1 {
	}
}

	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}

	#home-row-1 h1 {
		font-size: 54px;
	}

	#home-row-1 h4 {
		font-size: 32px;
	}

	#home-row-2 {
		font-size: 25px;
	}

	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}

	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}

	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}

	#home-row-1 h1 {
		font-size: 35px;
	}

	#home-row-1 h4 {
		font-size: 21px;
	}

	#home-row-2 {
		font-size: 16px;
	}
}
#cssmenu {
  background: #1a1a1a;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #00ffcc;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  /* background: #ffffff; */
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #00ffcc;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #00ffcc;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
.container-fluid
{
	background-color: #050a14;
}
